* {
        transition: all 0.25s ease;
    }

.contact-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    
    gap: 50px;
    padding: 70px 20px;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-icon {
    width: 70px;
    height: 70px;
    object-fit: contain;
    margin-bottom: 18px;
}

.contact-item h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #111;
}

.contact-item p {
    font-size: 16px;
    color: #555;
    line-height: 1.45;
}
@media (max-width: 600px) {
    .contact-section {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}

@media (max-width: 600px) {
    .contact-section {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .contact-icon {
        width: 60px;
        height: 60px;
    }

    .contact-item h3 {
        font-size: 20px;
    }

    .contact-item p {
        font-size: 15px;
    }
}


/*  Corporate Office   */
.office-section {
    padding: 50px 40px;
}

.office-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
}

.office-wrapper {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.office-image img {
    width: 100%;
    height: 700px;
    max-width: 600px;
    border-radius: 12px;
    object-fit: cover;
}

.office-accordion {
    flex: 1;
}

.accordion-item {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    margin-bottom: 12px;
    overflow: hidden;
}

.accordion-button {
    width: 100%;
    background: white;
    border: none;
    font-size: 20px;
    padding: 20px;
    text-align: left;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.symbol {
    font-size: 24px;
    font-weight: 500;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
    transition: all 0.3s ease;
    background: white;
}

.accordion-content p {
    font-size: 16px;
    line-height: 1.5;
    padding: 15px 0;
}
@media (max-width: 600px) {
    .office-wrapper {
        flex-direction: column;
    }

    .office-image img {
        width: 100%;
    }
}


/*   Manufacturing Section  */
.manufacturing-section {
    padding: 50px 40px;
}

.manufacturing-section h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.manufacturing-container {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 40px;
    align-items: flex-start;
}

.manufacturing-image img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

.manufacturing-accordion {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.accordion-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.accordion-header {
    padding: 20px 24px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    user-select: none;
    background: #fff;
}

.accordion-icon {
    font-size: 22px;
    transition: transform 0.3s ease;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    background: #fafafa;
    padding: 0 24px;
    transition: max-height 0.35s ease;
}

.accordion-content p {
    font-size: 16px;
    padding: 15px 0;
}

/* Expanded State */
.accordion-item.active .accordion-content {
    max-height: 200px;
}

.accordion-item.active .accordion-icon {
    transform: rotate(45deg);
}

/* Responsive */
@media (max-width: 600px) {
    .manufacturing-container {
        grid-template-columns: 1fr;
    }
}

/*   sitemap   */
.sitemap-section{
    text-align:center;
    padding:40px 20px;
    background:#f8f8f8;
    margin-top:40px;
}

.sitemap-section h3{
    font-size:24px;
    font-weight:600;
    color:#3e024b;
    margin-bottom:12px;
}

.sitemap-section .links{
    margin-top:5px;
}

.sitemap-section .links a{
    text-decoration:none;
    font-size:18px;
    color:#b57a3a;
    font-weight:500;
}