* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.footer {
    /*background-image: linear-gradient(to bottom, red, rgb(0, 60, 255));*/
    background-color: #556B2F;
    color: #ffffff;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    padding: 60px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

/* Logo */
.footer-logo img {
    max-width: 180px;
    border-radius: 50%;
}

/* Links */
.footer-links a {
    display: block;
    color: #ffffff;
    text-decoration: underline;
    margin-bottom: 10px;
    font-size: 16px;
}

.footer-links a:hover {
    color: #f4d18a;
}

/* Address */
.footer-address h4 {
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-address p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.footer-address {
    width: 100%;
    max-width: 400px;
}

/* Social Icons 
.social-icons a {
    color: #ffffff;
    margin-right: 15px;
    font-size: 18px;
}

.social-icons a:hover {
    color: #f4d18a;
}
*/
.social-icons a {
    color: #ffffff;
    margin-right: 15px;
    font-size: 18px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
    color: #f4d18a;
    transform: translateY(-2px);
}
/* Bottom */
.footer-bottom {
    border-top: 1px solid rgba(255,255,255,0.2);
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

/* Responsive */
@media (max-width: 450px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 450px) {
    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .social-icons {
        margin-top: 10px;
    }
}
