body{
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
}

.container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    padding:40px;
}

.left{
    flex:1;
    min-width:320px;
    text-align:center;
}

.left img{
    width:350px;
}

.right{
    flex:1;
    min-width:320px;
    padding:20px;
}

.right h1{
    font-size:32px;
    margin-bottom:10px;
    font-weight:600;
    color: #000;
}

.desc{
    font-size:16px;
    color:#333;
    line-height:1.5;
}

.icons{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    margin:20px 0;
    font-size:14px;
    color:#6d406d;
}

.price-section{
    margin:10px 0;
}

.price{
    font-size:30px;
    font-weight:bold;
    color:#3c0057;
    margin-right:15px;
}

.old-price{
    font-size:20px;
    color:#777;
    text-decoration:line-through;
}

.pack{
    margin-top:10px;
    font-size:16px;
}

.buy-btn{
    background:#c18d4f;
    color:white;
    padding:15px 35px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:18px;
    margin-top:15px;
}

.buy-btn:hover{
    opacity:0.9;
}

@media(max-width:768px){
    .container{
        flex-direction:column;
        text-align:center;
    }
}


/*  certificate  */
.badge-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    gap:40px;
    padding:30px 10px;
}

.badge-container img{
    width:120px;
    height:auto;
    object-fit:contain;
    transition:0.3s ease;
}

.badge-container img:hover{
    transform:scale(1.05);
}

/* Tablet */
@media (max-width:900px){
    .badge-container img{
        width:100px;
    }
}

/* Mobile */
@media (max-width:600px){
    .badge-container{
        gap:20px;
    }
    .badge-container img{
        width:80px;
    }
}

/* Key health benefit  */
.benefits-section{
    text-align:center;
    padding:50px 20px;
    background:#f8f8f8;
}

.benefits-section h2{
    font-size:40px;
    color:#4c0c5e;
    margin-bottom:10px;
    font-weight:600;
}

.subtitle{
    font-size:18px;
    color:#555;
    margin-bottom:40px;
}

.benefit-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:25px;
    max-width:1200px;
    margin:0 auto;
}

.benefit-card{
    background-size:cover;
    background-position:center;
    color:#111;
    padding:40px 20px;
    border-radius:12px;
    backdrop-filter:brightness(0.6);
    background-color:rgba(255,255,255,0.6);
}

.benefit-card h3{
    font-size:24px;
    margin-bottom:10px;
    font-weight:700;
}

.benefit-card p{
    font-size:16px;
    line-height:1.45;
    color:#333;
}

/* Tablet Responsive */
@media(max-width:900px){
    .benefits-section h2{
        font-size:32px;
    }
    .benefit-grid{
        grid-template-columns:1fr;
    }
}

/* Mobile Responsive */
@media(max-width:600px){
    .benefits-section{
        padding:35px 15px;
    }
    .benefit-card{
        padding:25px 18px;
    }
    .benefits-section h2{
        font-size:28px;
    }
    .subtitle{
        font-size:16px;
    }
}


/*   Direction of use   */
.direction-section{
    text-align:center;
    padding:50px 20px;
}

.direction-section h2{
    font-size:38px;
    font-weight:700;
    color:#4a004c;
    margin-bottom:8px;
}

.subtext{
    font-size:18px;
    color:#666;
    margin-bottom:40px;
}

.direction-grid{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:25px;
    max-width:1100px;
    margin:0 auto;
}

.direction-card{
    background:white;
    border-radius:12px;
    padding:30px 20px;
    border:1px solid #e2e2e2;
}

.direction-card img{
    width:300px;
    margin-bottom:10px;
}

.direction-card h3{
    margin-top: -50px;
    font-size:26px;
    font-weight:700;
    color:#4a004c;
    margin:0px 0px;
}

.direction-card p{
    font-size:16px;
    color:#444;
    line-height:1.4;
}

/* Tablet View */
@media (max-width:900px){
    .direction-grid{
        grid-template-columns:repeat(2, 1fr);
    }
}

/* Mobile View */
@media (max-width:600px){
    .direction-grid{
        grid-template-columns:1fr;
    }
    .direction-section h2{
        font-size:30px;
    }
}


/*   buy now button  */
.btn-container{
    width:100%;
    display:flex;
    justify-content:center;
    padding:40px 0;
}

.order-btn{
    background:#d9a566;
    color:#000;
    border:none;
    padding:15px 40px;
    font-size:18px;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s ease;
}

/* Hover effect */
.order-btn:hover{
    opacity:0.9;
}

/* Mobile responsive */
@media (max-width:600px){
    .order-btn{
        width:80%;
        font-size:17px;
        padding:14px;
    }
}


/*   Ingrident  */
.ingredients-section{
    text-align:center;
    padding:50px 20px;
    background:#fafafa;
}

.ingredients-section h2{
    font-size:36px;
    color:#4a004c;
    font-weight:700;
    margin-bottom:8px;
}

.subtitle{
    font-size:18px;
    color:#555;
    margin-bottom:40px;
}

.ingredients-grid{
    display:grid;
    gap:30px;
    max-width:1200px;
    margin:0 auto;
    grid-template-columns:repeat(auto-fill, minmax(150px, 1fr));
}
/*
.item{
    text-align:center;
}

.item img{
    
    width:110px;
    height:110px;
    border-radius:50%;
    /*object-fit:cover;*
    align-items: center;
    text-align: center;
} */

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.item img {
    width:110px;
    height:110px;
    border-radius:50%;
}

.item p{
    margin-top:10px;
    font-size:15px;
    color:#2d0137;
    font-weight:600;
}

/* Tablet */
@media(max-width:900px){
    .ingredients-section h2{font-size:30px;}
    .subtitle{font-size:16px;}
}

/* Mobile */
@media(max-width:600px){
    .ingredients-grid{
        grid-template-columns:repeat(3, 1fr);
    }
    .item img{width:85px; height:85px;}
}

/* Small Mobile */
@media(max-width:420px){
    .ingredients-grid{
        grid-template-columns:repeat(2, 1fr);
    }
}

/*    Disclamer   */
.disclaimer-section{
    text-align:center;
    padding:50px 20px;
}

.disclaimer-section h2{
    font-size:34px;
    font-weight:600;
    color:#3e024b;
    margin-bottom:25px;
}

.disclaimer-section .text{
    max-width:1100px;
    margin:0 auto;
    font-size:17px;
    line-height:1.6;
    color:#333;
}

.sitemap-section{
    text-align:center;
    padding:40px 20px;
    background:#f8f8f8;
    margin-top:40px;
}

.sitemap-section h3{
    font-size:24px;
    font-weight:600;
    color:#3e024b;
    margin-bottom:12px;
}

.sitemap-section .links{
    margin-top:5px;
}

.sitemap-section .links a{
    text-decoration:none;
    font-size:18px;
    color:#b57a3a;
    font-weight:500;
}

/* Responsive */
@media(max-width:768px){
    .disclaimer-section h2{
        font-size:28px;
    }
    .disclaimer-section .text{
        font-size:16px;
    }
}

@media(max-width:500px){
    .disclaimer-section{
        padding:35px 15px;
    }
    .sitemap-section h3{
        font-size:22px;
    }
    .sitemap-section .links a{
        font-size:17px;
    }
}

