* {
        transition: all 0.25s ease;
    }

.policy-section {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
    line-height: 1.6;
    color: #222;
}

.policy-section h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}



.policy-section h2 {
    font-size: 24px;
    font-weight: 600;
    margin: 30px 0 10px;
}


@media (max-width: 600px) {
    .policy-section h1 {
        font-size: 28px;
    }
    .policy-section h2 {
        font-size: 20px;
    }
}


/*    sitemap   */

.sitemap-section{
    text-align:center;
    padding:40px 20px;
    background:#f8f8f8;
    margin-top:40px;
}

.sitemap-section h3{
    font-size:24px;
    font-weight:600;
    color:#3e024b;
    margin-bottom:12px;
}

.sitemap-section .links{
    margin-top:5px;
}

.sitemap-section .links a{
    text-decoration:none;
    font-size:18px;
    color:#b57a3a;
    font-weight:500;
}
