* {
        transition: all 0.25s ease;
    }

.vvip-section {
    text-align: center;
    padding: 40px 20px;
}

.vvip-section h2 {
    font-size: 42px;
    font-weight: 700;
}

.lang-buttons {
    margin: 15px 0 30px;
}

.lang-buttons button {
    background: #f2c400;
    border: none;
    padding: 10px 22px;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}
.lang-buttons button.active {
    background: #000;
    color: #fff;
}

.vvip-slider {
    position: relative;
    background: #3a1b0a;
    border-radius: 20px;
    overflow: hidden;
    max-width: 1300px;
    margin: auto;
    padding: 25px 20px;
}

.vvip-track {
    display: flex;
    transition: transform .5s ease-in-out;
}

.vvip-card {
    min-width: 100%;
    display: flex;
    align-items: center;
    gap: 25px;
}

.vvip-left, .vvip-right {
    width: 28%;
}
.vvip-middle {
    width: 44%;
    text-align: left;
    color: #fff;
}

.letter-img, .person-img {
    width: 100%;
    border-radius: 14px;
    object-fit: cover;
}

.rating {
    font-size: 22px;
    color: gold;
    margin: 8px 0;
}

.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #f2c400;
    border: none;
    font-size: 30px;
    padding: 5px 12px;
    border-radius: 50%;
    cursor: pointer;
}
.prev { left: 10px; }
.next { right: 10px; }

.dots {
    margin-top: 20px;
}

.dots span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #d3a300;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.dots span.active {
    background: #fff;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    .vvip-card { flex-direction: column; text-align: center; }
    .vvip-middle { width: 90%; text-align: center; }
    .vvip-left, .vvip-right { width: 70%; }
}
@media (max-width: 600px) {
    .vvip-left, .vvip-right { width: 90%; }
}


/*      sitemap     */
.sitemap-section{
    text-align:center;
    padding:40px 20px;
    background:#f8f8f8;
    margin-top:40px;
}

.sitemap-section h3{
    font-size:24px;
    font-weight:600;
    color:#3e024b;
    margin-bottom:12px;
}

.sitemap-section .links{
    margin-top:5px;
}

.sitemap-section .links a{
    text-decoration:none;
    font-size:18px;
    color:#b57a3a;
    font-weight:500;
}
